{% extends 'base.html'  %}
{% load static %}

{%block body %}
    <body>   
        <main>
            <!-- page title area start -->
            <div class="page-title-area section-notch pt-5 pb-5" 
            style="background: url(../../static/img/image.jpg);
            background-repeat: no-repeat;background-size:cover;height: 50vh; 
            background-position: center;"
            >
                <div class="banner-overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="page-title">
                                <h2>Our Contact Info</h2>
                                <div class="breadcrumb-list text-left mb-30">
                                    <ul>
                                        <li><a href="index.html">Home</a></li>
                                        <li>Contact</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- page title area end -->

            <!-- contact page area start -->
            <section class="contact-area pt-5 pb-5">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-8 col-lg-7">
                            <div class="contact-form mb-4">
                                <h3>Do you have any question?</h3>
                                <form method="post" action="{%url 'successes'%}">
                                        {% if name %}
                                        <h4>Thank you {{name}} for your email</h4>
                                        {% endif %}
                                        {% csrf_token %}
                                    <div class="row">
                                        <div class="col-xl-6">
                                            <input type="text" name="name" placeholder="Full Name">
                                        </div>
                                        <div class="col-xl-6">
                                            <input type="email" name="email" placeholder="Email Address">
                                        </div>
                                        <div class="col-xl-12">
                                            <input type="text" name="subject" placeholder="Subject">
                                        </div>
                                        <div class="col-xl-12">
                                            <textarea name="message"  cols="30" rows="10" placeholder="write message"></textarea>
                                            <button class="thm-btn" type="submit" value="send">Send Message</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-5">
                            <div class="contact-info">
                                <h3>Contact Info</h3>
                                <ul>
                                    <li><span><i class="fa fa-map-marker"></i></span>Raipur, Lakshmipur, Dhaka.</li>
                                    <li><span><i class="fa fa-phone"></i></span>+880 123 456 789</li>
                                    <li><span><i class="fa fa-envelope"></i></span>contact@yourmail.com</li>
                                    <li><span><i class="fa fa-globe"></i></span>www.yoursite.com</li>
                                </ul>
                                <div class="contact-social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- contact page area end -->

            
        </main>
        </body>
       
{% endblock body %}